section#banner
  .overlay-section
    .container
      h1.header-title #{bannerTitle}
      .meta-media
        .single-meta.
          Date de réalisation : #{bannerYear}
        - const bannerRolesHeader = bannerCat === 'Web' ? 'Technologies' : 'Rôles';
        .single-meta.
          Catégorie : #{bannerCat}
        .single-meta.
          #{bannerRolesHeader} : #{bannerRoles.join(', ')}
