section(id='education')
  div(class='container')
    div(class='education-inner')
      h2(class='title') Études
      p.
        Après un Baccalauréat S, j'ai intégré l'UTC (Université de Technologie de Compiègne) en 2013 afin de réaliser un
        parcours en ingénierie informatique à partir d'un cursus innovant : Humanités et Technologie. J'ai par ailleurs
        pu faire un semestre d'études au Québec en Bac+4, lors de mon avant dernière année à l'UTC.
      p.
        Aujourd'hui, j'étudie à GOBELINS, l'école de l'image, au sein du mastère spécialisé IDE (Interactive Digital Experiences)
        afin de travailler plus tard dans le domaine de l'#[span.it edugame], #[span.it serious game] ou plus généralement
        dans le cadre d'expériences ludiques et interactives à la croisée du jeu et de la pédagogie.
      div(id='owl-carousel1', class='experience-slider row')
        // Baccalauréat
        .col.s12
          .card
            - var title = 'Baccalauréat S SVT'
            - var href = 'http://www.sbeckett.fr/'
            - var place = 'Lycée Samuel Beckett'
            .card-image.waves-effect.waves-block.waves-light
              h2.experience-title 2010 - 2013
              img.activator(src='images/education/board.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') #{title}
                i(class='material-icons right') more_vert
              p
                a(href=href, target='_blank') #{place}
            div(class='card-reveal')
              span(class='card-title reveal-title') #{title}
                i(class='material-icons right') close
              a.card-subtitle(href=href target='_blank') #{place}
              p.
                Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English


      // owl navigation
      div(class='customNavigation')
        a(class='btn prev1 btn-floating waves-effect waves-light btn-large white')
          i.material-icons keyboard_arrow_left
        a(class='btn next1 btn-floating waves-effect waves-light btn-large white')
          i.material-icons keyboard_arrow_right
