section#education
  .container
    .education-inner
      h2.title Études
      p.
        Après un Baccalauréat S, j'ai intégré l'UTC (Université de Technologie de Compiègne) en 2013 afin de réaliser un
        parcours en ingénierie informatique à partir d'un cursus innovant : Humanités et Technologie. J'ai par ailleurs
        pu faire un semestre d'études au Québec en Bac+4, lors de mon avant dernière année à l'UTC.
      p.
        Aujourd'hui, j'étudie à GOBELINS, l'école de l'image, au sein du mastère spécialisé IDE (Interactive Digital Experiences)
        afin de travailler plus tard dans le domaine de l'#[span.it edugame], #[span.it serious game] ou plus généralement
        dans le cadre d'expériences ludiques et interactives à la croisée du jeu et de la pédagogie.
      .carousel-container
        #owl-carousel1.experience-slider.row
          // Mastère spécialisé IDE
          .col.s12
            .card
              - var title = 'Mastère spécialisé IDE'
              - var href = 'https://www.gobelins.fr/formation/mastereexpint-mastere-specialise-designer-d-experience-interactive-et-ludique'
              - var place = 'GOBELINS, l\'école de l\'image'
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title 2018 à aujourd'hui
                img.activator(src='images/education/fragments.jpg')
              .card-content
                span.card-title.activator.reveal-title #{title}
                  i.material-icons.right more_vert
                p
                  a(href=href, target='_blank') #{place}
              .card-reveal
                span.card-title.reveal-title #{title}
                  i.material-icons.right close
                a.card-subtitle(href=href target='_blank') #{place}
                p.
                  Depuis quelques temps, je m'intéresse à l'écologie des #[span.it edugames],
                  #[span.it serious games] et autres expériences ludo-interactives.
                  La question de l'engagement & motivation de l'apprenant me semble
                  bien sûr centrale, et m'interroge sur les moyens en #[span.it game design]
                  d'offrir des jeux à la fois #[span.it fun] et riches d'enseignement.
                  J'ai rejoint le mastère IDE afin de renforcer mes compétences en
                  #[span.it game design] et pouvoir par la suite travailler dans
                  ce domaine, à la croisée du ludique et de la pédagogie.
          // Diplôme d'ingénieur
          .col.s12
            .card
              - var title = 'Diplôme ingénieur généraliste'
              - var href = 'https://www.utc.fr/formations/diplome-dingenieur/genie-informatique-gi.html'
              - var place = 'Université de Technologie de Compiègne'
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title 2016 - 2018
                img.activator(src='images/education/mechanics.jpg')
              .card-content
                span.card-title.activator.reveal-title #{title}
                  i.material-icons.right more_vert
                p
                  a(href=href, target='_blank') #{place}
              .card-reveal
                span.card-title.reveal-title #{title}
                  i.material-icons.right close
                a.card-subtitle(href=href target='_blank') #{place}
                p.
                  Après 5 années et 2 stages longs de 6 mois chacun, j'ai pu
                  valider mon diplôme d'ingénieur à l'UTC en génie informatique.
                  Rigueur, autonomie, créativité, sens des priorités et
                  organisation sont des qualités chères que j'ai travaillées tout
                  au long de ce parcours, et qui aujourd'hui conditionnent ma
                  manière de travailler, au sein d'une équipe et sur des projets
                  innovants et ambitieux.
          // Microprogramme de 2e cycle en sciences
          .col.s12
            .card
              - var title = 'Microprogramme de 2e cycle en sciences'
              - var href = 'https://www.usherbrooke.ca/admission/programme/4EM/microprogramme-de-2e-cycle-en-sciences/'
              - var place = 'Université de Sherbrooke'
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title Automne 2017
                img.activator(src='images/education/circuit.jpg')
              .card-content
                span.card-title.activator.reveal-title #{title}
                  i.material-icons.right more_vert
                p
                  a(href=href, target='_blank') #{place}
              .card-reveal
                span.card-title.reveal-title #{title}
                  i.material-icons.right close
                a.card-subtitle(href=href target='_blank') #{place}
                p.
                  L'automne 2017 a été l'occasion pour moi de partir étudier à
                  Sherbrooke (Québec) au sein d'un cadre éducatif et d'une
                  culture aussi différents qu'enrichissants. Ces 4 mois
                  sont passés à une vitesse folle et m'ont permis de consolider
                  certains projets personnels, de faire des rencontres inoubliables,
                  et d'apprendre à travailler dans un contexte interculturel.
          // Bachelor
          .col.s12
            .card
              - var title = 'Bachelor Humanités et Technologie'
              - var href = 'https://www.utc.fr/formations/diplome-dingenieur/cursus-humanites-et-technologie-hutech.html'
              - var place = 'Université de Technologie de Compiègne'
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title 2013 - 2016
                img.activator(src='images/education/leonardo.jpg')
              .card-content
                span.card-title.activator.reveal-title #{title}
                  i.material-icons.right more_vert
                p
                  a(href=href, target='_blank') #{place}
              .card-reveal
                span.card-title.reveal-title #{title}
                  i.material-icons.right close
                a.card-subtitle(href=href target='_blank') #{place}
                p.
                  Le cursus Humanités et Technologie (HuTech) m'a apporté énormément,
                  en connaissances et savoirs-faire au cours de
                  mes 3 premières années post-bac. Il m'a permis d'acquérir un
                  regard socio-technique neuf et critique sur divers systèmes
                  actuels, et ainsi d'établir une méthodologie pluridisciplinaire
                  rigoureuse en abordant une problématique d'ingénierie.
          // Baccalauréat
          .col.s12
            .card
              - var title = 'Baccalauréat S SVT'
              - var href = 'http://www.sbeckett.fr/'
              - var place = 'Lycée Samuel Beckett'
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title 2010 - 2013
                img.activator(src='images/education/board.jpg')
              .card-content
                span.card-title.activator.reveal-title #{title}
                  i.material-icons.right more_vert
                p
                  a(href=href, target='_blank') #{place}
              .card-reveal
                span.card-title.reveal-title #{title}
                  i.material-icons.right close
                a.card-subtitle(href=href target='_blank') #{place}
                p.
                  J'ai effectué un Baccalauréat S SVT au lycée Samuel Beckett,
                  optant pour une spécialité math en raison de mon affinité
                  dans le domaine. J'ai également choisi l'option arts plastiques,
                  me permettant d'intégrer l'une de mes passions dans mes études.
        // Owl navigation
        .custom-navigation
          a.btn.prev1.btn-floating.waves-effect.waves-light.btn-large
            i.material-icons keyboard_arrow_left
          a.btn.next1.btn-floating.waves-effect.waves-light.btn-large
            i.material-icons keyboard_arrow_right
