section#experience
  .overlay-section
    .container
      .experience-inner
        h2.title Expérience
        p.
          Je me suis très tôt intéressé aux technologies web, travaillant principalement
          avec la stack WAMP/LAMP sur des petits projets personnels. Par la suite,
          j'ai eu la chance de travailler pour plusieurs clients en tant que #[span.it freelance],
          ainsi que de réaliser plusieurs stages dans des contextes techniques divers.
          Ces riches expériences m'ont permis de professionaliser mon savoir-faire actuel.

        .carousel-container
          #owl-carousel.experience-slider.row
            // Playbots
            .col.s12
              .card
                - var role = 'Stagiaire ingénieur web full stack'
                - var href = 'https://www.linkedin.com/company/playbots.io/'
                - var place = 'Playbots – Paris'
                .card-image.waves-effect.waves-block.waves-light
                  h2.experience-title Février 2018 - Juillet 2018
                  img(class='activator', src='images/experiences/chatbot.jpg')
                .card-content
                  span.card-title.activator.reveal-title #{role}
                    i.material-icons.right more_vert
                  p
                    a(href=href, target='_blank') #{place}
                .card-reveal
                  span.card-title.reveal-title #{role}
                    i.material-icons.right close
                  a.card-subtitle(href=href) #{place}
                  p.
                    Ce stage chez Playbots m'a permis de devenir complètement
                    autonome avec la stack MEAN. J'ai eu l'occasion de travailler
                    sur la plateforme de création/gestion de #[span.it bots] de
                    l'entreprise, dans un contexte agile et avec de fortes
                    responsabilités. J'ai également assumé avec enthousiasme la fonction
                    d'#[span.it UI/UX designer] dans l'équipe, faute d'expert
                    dans l'équipe.
            // CartoENM
            .col.s12
              .card
                - var role = 'Développeur web backend PHP/SQL'
                - var href = 'https://ics.utc.fr/cartoenm/'
                - var place = 'ENM, mandaté par l’UTC – Paris & Compiègne'
                .card-image.waves-effect.waves-block.waves-light
                  h2.experience-title 2016 - 2017
                  img(class='activator', src='images/experiences/law.jpg')
                .card-content
                  span.card-title.activator.reveal-title #{role}
                    i.material-icons.right more_vert
                  p
                    a(href=href, target='_blank') #{place}
                .card-reveal
                  span.card-title.reveal-title #{role}
                    i.material-icons.right close
                  a.card-subtitle(href=href) #{place}
                  p.
                    Dans le cadre d'un job étudiant à l'UTC, j'ai conçu le système
                    #[span.it backend] du projet CartoENM : extraction de données
                    depuis feuilles de calcul, imports en BDD et construction de
                    l'arbre de réponses lié à une requête utilisateur.
                    Ce fut l'occasion de mettre en place une réflexion centrée
                    utilisateur par rapport aux élèves de l'ENM, commanditaire
                    du projet.
            // DCE
            .col.s12
              .card
                - var role = 'Stagiaire développeur web PHP/SQL'
                - var href = 'http://www.dreamcentury.com/playbox/site/index.asp'
                - var place = 'DreamCentury Entertainment – Paris'
                .card-image.waves-effect.waves-block.waves-light
                  h2.experience-title Février 2016 - Juillet 2016
                  img(class='activator', src='images/experiences/gambling.jpg')
                .card-content
                  span.card-title.activator.reveal-title #{role}
                    i.material-icons.right more_vert
                  p
                    a(href=href, target='_blank') #{place}
                .card-reveal
                  span.card-title.reveal-title #{role}
                    i.material-icons.right close
                  a.card-subtitle(href=href) #{place}
                  p.
                    J'ai intégré l'équipe de DreamCentury E. pendant 6 mois riches
                    d'apprentissages. Ce premier stage long m'a inculqué la rigueur
                    professionnelle dans l'écriture de code fonctionnel, stable
                    et adaptatif, dans un cadre de travail semi-agile. J'ai ainsi
                    pu assumer la responsabilité du développement de plusieurs
                    modules, chacun posant son lot de défis en terme d'interactions
                    utilisateur et de contraintes techniques (e.g. dépendances à des
                    services externes).
            // Peripro
            .col.s12
              .card
                - var role = 'Développeur & Webdesigner'
                - var href = 'http://www.peripro-fencing.com/'
                - var place = 'Peripro fencing (Pays-Bas), Clôture-Protect, Cameba'
                .card-image.waves-effect.waves-block.waves-light
                  h2.experience-title 2014 - 2015
                  img(class='activator', src='images/experiences/webdesign.jpg')
                .card-content
                  span.card-title.activator.reveal-title #{role}
                    i.material-icons.right more_vert
                  p
                    a(href=href, target='_blank') #{place}
                .card-reveal
                  span.card-title.reveal-title #{role}
                    i.material-icons.right close
                  a.card-subtitle(href=href) #{place}
                  p.
                    J'ai eu l'occasion de mettre à l'épreuve mes jeunes connaissances
                    en #[span.it web design] dès 2014 avec plusieurs clients
                    concrets, dont notamment Peripro fencing chez qui j'ai effectué
                    un stage cours en été 2014. Ces expériences m'ont permis de
                    prendre mes marques et de mieux comprendre certaines problématiques
                    techniques pour trouver des solutions #[span.it ad hoc] à ces
                    dernières.
          // Owl navigation
          .custom-navigation
            a.btn.prev.btn-floating.waves-effect.waves-light.btn-large
              i.material-icons keyboard_arrow_left
            a.btn.next.btn-floating.waves-effect.waves-light.btn-large
              i.material-icons keyboard_arrow_right
